<!-- Skills widget -->
<section>
  <h2>Skills</h2>
  <h3>TECHNICAL SKILLS</h3>
  <div class="skills">
    <div class="skill">
      <i class="fab fa-python"></i>
      <p>Python</p>
    </div>
    <div class="skill">
      <i class="fas fa-brain"></i>
      <p>ML & DL</p>
    </div>
    <!-- Add additional skills here -->
  </div>
  <h3>SOFT SKILLS</h3>
  <div class="skills">
    <div class="skill">
      <i class="fas fa-comments"></i>
      <p>Communication</p>
    </div>
    <!-- Add additional skills here -->
  </div>
</section>
