<!-- An instance of the Featurette widget. -->
<section class="featurette">
  <h2 class="featurette-heading">Skills</h2>
  <h3 class="featurette-subheading">TECHNICAL SKILLS</h3>
  <div class="row featurette-icons">
    <div class="col-lg-4 col-md-6 featurette-icon">
      <i class="fab fa-python"></i>
      <h4>Python</h4>
    </div>
    <div class="col-lg-4 col-md-6 featurette-icon">
      <i class="fas fa-brain"></i>
      <h4>ML & DL</h4>
    </div>
    <!-- Additional features go here -->
  </div>
  <h3 class="featuret