<!-- Skills widget -->
<section style="text-align: center">
  <h2 style="font-size: 36px">Skills</h2>
  <h3>TECHNICAL SKILLS</h3>
  <div class="skills">
    <div class="skill" style="display: inline-block; margin-right: 20px">
      <i class="fab fa-python" style="font-size: 36px"></i>
      <p>Python</p>
    </div>
    <div class="skill" style="display: inline-block; margin-right: 20px">
      <i class="fas fa-brain" style="font-size: 36px"></i>
      <p>ML & DL</p>
    </div>
    <div class="skill" style="display: inline-block; margin-right: 20px">
      <i class="fas fa-chart-line" style="font-size: 36px"></i>
      <p>Statistics</p>
    </div>
    <div class="skill" style="display: inline-block; margin-right: 20px">
      <i class="fas fa-book" style="font-size: 36px"></i>
      <p>Research</p>
    </div>
  </div>
  <h3>SOFT SKILLS</h3>
  <div class="skills">
    <div class="skill">
      <i class="fas fa-comments" style="font-size: 36px"></i>
      <p>Communication</p>
    </div>
    <div class="skill">
      <i class="fas fa-bullhorn" style="font-size: 36px"></i>
      <p>Public speaking</p>
    </div>
    <div class="skill">
      <i class="fas fa-lightbulb" style="font-size: 36px"></i>
      <p>Creativity</p>
    </div>
    <div class
